{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Welcome to mLickr{% endblock %}
{% block nav_user %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li id="nav-username"><a href="{% url 'photo_sharing.views.profile' %}">
        <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
      </li>
      <li>
        <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
      </li>
    </ul>
  {% else %}
    <form class="navbar-form navbar-right" 
          method="post" 
          action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      {% bootstrap_field form.username show_label=False %}
      {% bootstrap_field form.password show_label=False %}
      <input type="hidden" name="next" value="{% url 'photo_sharing.views.home' %}" />
      <button type="submit" class="btn btn-success">Sign in</button>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <div class="container">
   <ul class="nav nav-tabs">
      <li class="active"><a href="#all" data-toggle="tab">All</a></li>
      <li><a href="#public" data-toggle="tab">Public</a></li>
      <li><a href="#albums" data-toggle="tab">Albums</a></li>
      <li><a href="#circle" data-toggle="tab">Circle</a></li>
    </ul>

    <div class="tab-content">
      <div id="all" class="tab-pane fade in active">
      <h2>This All Area</h2>
      <p></p>
        
      </div>
      <div id="public" class="tab-pane fade">
      <h2>This Public Session</h2>
        
      </div>
      <div id="albums" class="tab-pane fade">
      <h2>This Albums Session</h2>
        
      </div>
      <div id="circle" class="tab-pane fade">
      <h2>This Circle Session</h2>
        
      </div>
    </div>
        
  </div>

{% endif %}

  
{% endblock content %}
